.header{
    text-align: center;
}
.header img{
    height: 80px;

}
.header nav{
    background: black;
    font-size: 20px;
    /* padding: 10px; */
    line-height: 47px;
}
.header nav a{
    text-decoration: none;
    color: #fff;
    padding: 10px 30px;
}
.header nav a:hover{
    background: gray;
}